# Copy this file to terraform.tfvars and fill in your values
# cp terraform.tfvars.example terraform.tfvars

do_token            = "dop_v1_your_digitalocean_api_token_here"
region              = "nyc1"
droplet_size        = "s-1vcpu-2gb"
droplet_name        = "freetakserver"
ssh_key_name        = "fts-key"
ssh_public_key_path = "~/.ssh/id_rsa.pub"

# Leave empty to auto-detect from the droplet's public IP
fts_public_ip = ""
